body
{
	background-image:url("12.jpg");	
	background-attachment: fixed;
	font-family:"times new";
	font-size:20px;
}
 
tr{
	height: 50px;
}

td {
	color: white;
	vertical-align: bottom;  
}

h1
{
	font-family:"times new";
	font-size:30px;		
}

select {
	position: relative;
	background: white;
	font-size: 10px;
    	font-weight: bold;
    	padding: 5px 10px;
    	width: 160px;
	border:1px;
	border-radius: 5px;
    	background-color: #f1f1f1;
}


.csstext {
  color: black;
}


input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
